body {
	text-align: center;
	font-family: 'Source Sans Pro', sans-serif;
}
main {
	display: flex;
	justify-content: center;
}
button {
	margin-top: 32px;
	width: 70px;
	height: 30px;
	font-size: 20px;
	box-shadow: 2px 2px 1px grey;
	border-radius: 10px;
	background-color: white;
}
button:hover {
	opacity: 0.8;
}
h1 {
	font-size: 64px;
	color: grey;
}
.all {
	width: 70vw;
	display: flex;
	flex-direction: column;
}
input {
	width: 70px;
	border-radius: 8px;
	font-size: 24px;
}
.input-container {
	font-size: 30px;
	margin: 10px auto;
	height: 250px;
	width: 40%;
}
.inputEle {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}
select {
	height: 25px;
	margin-top: 5px;
	font-size: 20px;
	width: 75px;
}
option {
	width: 20px;
}
.result-container {
	font-size: 20px;
	margin: 61px auto;	
	width: 40%;
}
.result-container h2 {
	margin: 0px;
}
.row {
	display: flex;
	justify-content: center;
}
.col1 {
	text-align: left;
	width: 50%;
}
.col2 {
	text-align: right;
	width: 30%;
	margin-bottom: 29px;
}